@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700;800&display=swap');
@import url('./css/index.css');


:root {
    --preto: #141414;
    --cinza: #757575;
    --branco: #ffffff;
    --branco-transparente:#ffffffea;
    --fonte-principal:'Noto Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    color: var(--branco);
    font-family: var(--fonte-principal);
    text-align: center;
}

.cabecalho {
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    height: 68px;
}


